.landing-page{
    background-image: url('../images/backgrounds/h_img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.landing-page.lead{
    font-size: 3px;
}
btn {
    position: absolute;
    bottom: 0.5rem; /* Adjust this value to position the button */
}

.about-us{
    align-items: center;
    text-align: center;
    color: black;
}

.services{
    background-image: url('../images/backgrounds/s_image.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.what-we-do {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
}

.what-we-do-item {
    text-align: center;
    width: 30%;
}

.image-container {
    position: relative;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
}

.service-name {
    font-weight: bold;
}

.portfolio-image {
    margin: 0;
    padding: 0;
}

.image-row {
    display: flex;
    justify-content: space-between;
    margin: 10px; /* Adjust margin as needed */
}

.image-row img {
    max-width: 23%; /* Adjust width as needed */
    height: auto;
    border-radius: 5px;
}

.contact-us{
    background-image: url('../images/backgrounds/c_image.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}