.landing-page{
    background-image: url('../images/backgrounds/h_img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.landing-page.lead{
    font-size: 3px;
}
btn {
    padding-top : 22px;
    margin-top: 10%;
    padding-bottom: 30px;
}

.about-us{
    align-items: center;
    text-align: center;
    color: black;
}

.services{
    background-image: url('../images/backgrounds/s_image.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.what-we-do {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
}

.what-we-do-item {
    text-align: center;
    width: 30%;
}

.image-container {
    position: relative;
}

.image-container img {
    max-width: 100%;
    height: auto;
}


.service-name {
    font-weight: bold;
}

.portfolio-image {
    margin: 0;
    padding: 0;
}

.image-row {
    display: flex;
    justify-content: space-between;
    margin: 10px; 
}

.image-row img {
    max-width: 24%; 
    height: auto;
    border-radius: 5px;
}

.contact-us{
    background-image: url('../images/backgrounds/c_image.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image-row1 {
    display: flex;
    justify-content: space-between;
    margin: 40px; 
}

.image-row1 img {
    max-width: 20%; 
    height: auto;
    border-radius: 5px;
}

.portfolio-images{
    gap: 10px;
}

h3{
    font-size: 10px;
}
h2{
    font-size: 20px;
}
.social-media-icons{
    display: flex;
    justify-content: center;
}

.service-name.bold {
    font-weight: bold;
}

.description {
    display: none;
    text-align: center;
}
.what-we-do-item:hover .image-container,
.what-we-do-item:hover .service-name {
    display: none;
}
.what-we-do-item:hover .description {
    display: block;
}

.what-we-do-item.hovered {
    background-color:none;
}
.contact-form {
    background: none; 
    padding: 20px;
    border-radius: 10px;
}

.input-container {
    background: none;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background: none;
}

.input-group input, textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: none;
}

.label-group {
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input:focus + label, textarea:focus + label {
    display: none;
    background: none;
}

textarea {
    width: 100%;
    background: none;
}

#confirmation {
    display: none;
    margin-top: 10px;
    font-weight: bold;
    color: green;
}
