.landing-page{
    background-image: url('../images/backgrounds/h_img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.landing-page.lead{
    font-size: 3px;
}
btn {
    position: absolute;
    bottom: 0.5rem; /* Adjust this value to position the button */
}

.about-us{
    align-items: center;
    text-align: center;
    color: black;
}

.services{
    background-image: url('../images/backgrounds/s_image.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.portfolio {
    display: flex;
}

.portfolio-item {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 10vh;
    height: 10vh;
    display: block;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.overlay .service-name {
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: #333;
}

